<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="header_content d-flex flex-row align-items-center justify-content-start trans_400"
        >
          <a href="#">
            <div
              class="logo d-flex flex-row align-items-center justify-content-start"
            >
              <img src="/assets/images/dot.png" alt="" />
              <div>Sport<span>fit</span></div>
            </div>
          </a>
          <nav class="main_nav">
            <ul
              class="d-flex flex-row align-items-center justify-content-start"
            >
              <li class="active"><a routerLink="/home">Home</a></li>
              <li><a routerLink="/events">Events</a></li>
              <li><a routerLink="/equipments">Equipments</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/joinus">Join Us</a></li>
              <li><a routerLink="/myhome">My Home</a></li>
            </ul>
          </nav>
          <div
            class="phone d-flex flex-row align-items-center justify-content-start ml-auto"
          >
            <!-- <i class="fa fa-phone" aria-hidden="true"></i> -->
            <div>Log In</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
